.panel {
border-style: solid;
border-width: 1px;
border-color: #EBEBEB;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: rgba(0, 0, 0, 0);
}
.top-bar {
    margin-bottom:20px;
}
.history-listing li {
list-style: none;
font-size: 12pt;
padding: 1px 0;
margin: 10px 0;
}
.history-listing {
margin: 0;
height: 470px;
overflow-y: auto;
}
.character-listing {
margin: 0;
}
.character-listing li {
list-style: none;
font-size: 17pt;
}

.map {
  background: url('/static/assets/map-version1.png');
  min-height: 700px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.inv-item {
  width: 290px;
  margin: 0;
  margin-top: 15px;
}
.inv-item li {
list-style: none;
float: left;
background: rgba(51, 51, 51, 0.05);
margin: 8px 8px 0 0;
width: 55px;
height: 55px;
}

.inventory {
  margin: 20px 0;

}
.shop-classes {
    height: 500px;
    width: 100%
    float: left;

}
.current_level {
    margin-top:10px;
}

.level {
  margin-top: -20px;
float: left;
}
.xp-bar {
    transition: width 550ms ease-out 650ms;
    height: 5px;
    width: 0;
    margin-top:-20px;
    margin-bottom:20px;
    background: #AA7689;
}

.switch-char {
    font-size: 13pt;
font-weight: lighter;
color: #000;
}

.price {
margin-top: -6px;
float: left;
font-size: 11pt;
margin-bottom: 12px;
background: rgb(143, 74, 86);
padding: 4px 20px;
margin-left: -20px;
color: #fff;
}


.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;

  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

#effect-1 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor:pointer;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-1 .img.hover .overlay {
  opacity: 1;
}
#effect-1 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
.img {
padding: 20px;
text-align: center;
border: 1px solid #ccc;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
width: 8px; /* 1px wider than Lion. */
/* This is more usable for users trying to click it. */
background-color: rgba(0,0,0,0);
-webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
/* This is the EXACT color of Mac OS scrollbars.
Yes, I pulled out digital color meter */
background: rgba(0,0,0,0.5);
-webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
background: rgba(0,0,0,0.61); /* Some darker color when you click it */
-webkit-border-radius: 100px;
}

background: linear-gradient(45deg, white, silver);
min-height: 100%;

span {
border: 1px solid #333;
padding: 9px;
font-size: 9pt;
margin: 15px;
}
.testlabel {
background: #333;
/* height: 247px; */
padding: 10px;
font-size: 22pt;
text-align: center;
color: #ccc;
width: 100%;
margin: 0;
}



.enemymap {
background: rgba(51, 51, 51, 0.66);
padding: 10px;
font-size: 9pt;
text-align: center;
color: #FFF;
padding: 20px;
position: absolute;
}



input[type="radio"]:checked+label{
background: #222;

}
input[type="radio"] {
display: none;

}
input[type="radio"]+label {
margin: 0;
}
.xp-level {
float: left;
margin-top: -16px;
font-size: 8pt;
color: #333;
}
.xp-level-right {
float: right;
margin-top: -16px;
font-size: 8pt;
color: #333;
}

.match {
float: left;
height: 400px;
width:100%;
padding: 20px;
margin-bottom: 20px;
border-style: solid;
border-width: 1px;
border-color: #EBEBEB;
}
.historybox {
float: right;
width: 200px;
height: 358px;
margin-top: 0px;
overflow-y: scroll;
}
.spell_list {
list-style: none;
margin: 0;
}
.spell_list li {
width: 24%;
float:left;
margin: 0 1% 1% 0;
}
.disabled {
color: darkgrey;
background-color: grey;
cursor:auto
}
input.disabled[type="radio"]:checked+label {
color: darkgrey;
background-color: grey;
cursor:auto
}
.tooltip {
margin-top:-103px;
margin-left: 0px;
}
