<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPG Aplha</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/stylesheet.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{% block url %}{% endblock %}">RPG Alpha</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        {% if user.is_authenticated  %}
        {% load my_characters %}
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Your Characters</a>
            <ul class="dropdown">
              {% my_characters %}
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
              <li><a href="#">Options here soon</a></li>
            </ul>
          </li>
          <li><a href="/logout/">Logout</a></li>
        </ul>
      </section>
      {% endif %}
    </nav>
    {% block content %}{% endblock %}
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/foundation/foundation.tooltip.js"></script>
    <script>
      $(document).foundation();
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
