{% extends "base.html" %}
{% block url %}{{ character.get_absolute_url }}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns"><br><span class="right">You are playing as {{ character }}</span><br><hr></div>
    <div class="large-12 columns">
        <form action="" method="post">
            <div class="panel map">
                {% csrf_token %}
                {% for enemy in enemys %}
                    <li>
                        <input type="radio" name="enemy" value="{{ enemy.id }}" id="{{ enemy.name }}{{ enemy.id }}">
                        <label for="{{ enemy.name }}{{ enemy.id }}" class="enemymap" style="top: {{ enemy.top }}px; left: {{ enemy.left }}px" required>
                            {{ enemy.name }} ({{ enemy.level }})
                        </label>
                    </li>
                {% endfor %}
            </div>
            <hr>
            <input type="submit" value="Start Match" class="button">
        </form>
    </div>
</div>
{% endblock content %}
