{% extends "base.html" %}
{% block url %}{{ match.character.get_absolute_url }}{% endblock %}
{% block content %}
<style type="text/css">

</style>


{% if condition %}
{% if condition == "win" %}
    <center><h1>You Won!</h1></center>
{% endif %}
{% if condition == "loose" %}
   <center> <h1>You lost!</h1></center>
{% endif %}
{% else %}
<div class="row">
    <div class="large-12 columns">
        <div class="large-5 columns">
            <h1>
                {{ match.character }}
                <small>{{ match.character_health }}</small>
            </h1>
        </div>

        <div class="large-2 columns">
            <center>
                <h1><small>vs</small></h1>
            </center>
        </div>
        <div class="large-5 columns">
            <h1 class="right">
                {{ match.enemy }}
                <small>{{ match.enemy_health }}</small>
            </h1>
        </div>
        <div class="large-5 columns">
            <small class="xp-level">Level {% with level_data=match.character.level_data %}{{ level_data.current_level }} {% endwith %}</small>
        </div>
        <div class="large-5 columns">
            <small class="xp-level-right">Level {{ match.enemy.level }} </small>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="large-12 columns">
        <div class="match">
            This is where the game takes place!
            <div class="tooltip">edit me</div>
        <div class="panel historybox">
            <h3>History</h3>
            <hr>
            {% for attack in match.attack_set.all %}
            <li>Sent {{ attack.damage_dealt }}, Took {{ attack.damage_taken }}</li>
            {% endfor %}
        </div>


        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form action="/match/{{ match.id }}/attack/" method="post">
            {% csrf_token %}
            <ul class="spell_list">
                {% for spell in spells %}
                    <li>
                        <a data-tooltip aria-haspopup="true" class="has-tip" title="Damage: {{ spell.damage }}
                        Cooldown {{ spell.turn_cooldown }} {{ spell.cooldown }}">
                        <input type="radio" name="spell" value="{{ spell.id }}" id="{{ spell.name }}{{ spell.id }}">
                        <label for="{{ spell.name }}{{ spell.id }}" class="testlabel" required>{{ spell.name }}</label>
                        </a>
                    </li>
                {% endfor %}
                    <li>

                        <input type="radio" name="spell" value="{{ spell.id }}" id="{{ spell.name }}{{ spell.id }}" class="disabled"><label for="{{ spell.name }}{{ spell.id }}" class="testlabel disabled">Disabled Spell</label>
                    </li>
            </ul>
            <div class="large-12 columns left">
                <hr>
                <input type="submit" value="End Turn" class="button">
            </div>
        </form>
    </div>
    <div class="large-5 columns">

    </div>
{% endif %}
{% endblock content %}
{% block js %}
{% endblock %}
