{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated  %}
<div class="row">
    <div class="large-4 columns">
        <div class="panel">
            <h3>Your Characters</h3>
            <hr>
            <ul class="character-listing">
                {% for character in characters %}
                    <li><a href="/character/{{ character.id }}">{{ character.name }}</a> <small>{% with level_data=character.level_data %}Level {{ level_data.current_level }}{% endwith %}</small></li>
                    <hr>
                {% endfor %}
                <li> <a href="/character/create/"><small>Create a character</small></a> </li>
            </ul>
        </div>
    </div>
    <div class="large-8 columns">
        <h2>Game Updates</h2>
        <hr>
        <p>There will be change log here soon.</p>
        <hr>
        <p><a href="/leaderboard">View the leaderboard</a></p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Welcome to the Alpha</h3>
            <p>Currently you need to be invited to register. <a href="/login">Login</a></p>
        </div>
    </div>
</div>
{% endif %}
{% endblock%}
