{% extends "base.html" %}
{% block content %}
{% with level_data=character.level_data %}
<div class="xp-bar" data-width="{{ level_data.xp_percentage }}"></div>
<div class="row">
<div class="large-4 columns">
        <div class="panel">
            <h3>Match History</h3>
            <hr>
            <ul class="history-listing">
            {% for match in character.match_set.all  %}

                <li>{{ match.character }} vs {{ match.enemy }}</li>

            {% endfor %}
            <!-- <li>{{ level_data.xp_percentage}}% Until Next Level</li> -->
            </ul>
        </div>
    </div>

    <div class="large-8 columns">
        <h1>{{ character.name }} <small>{{ character.type }}</small>

            <small><a href="/" class="right switch-char">Switch Character</a></small>
        </h1>
        <small class="level">Level {{ level_data.current_level }}</small>
        <hr>
    </div>
    <div class="large-8 columns">
        <div class="panel clearfix">

                <img src="/static/assets/character.png" class="left">

            <h3 class="left inventory">Inventory</h3>

            <ul class="left inv-item">
                {% for bag in character.characteritem_set.all  %}
                <li><img src="/media/{{ bag.item.image }}"></li>
                {% endfor %}
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <a href="/character/{{ character.id }}/create" class="button small">Start Match</a>
        <a href="/character/{{ character.id }}/shop/" class="button small">View Shop</a>
        <a href="/character/{{ character.id }}/spells/" class="button small">See Available Spells</a>
</div>

    <script src="/static/js/countdown.min.js"></script>
{% endwith %}
{% endblock %}

{% block js %}
<script>
$(function() {
    $('.xp-bar').width($('.xp-bar').data('width') + '%');
});ws
</script>
{% endblock %}
{% block url %}
    {{ character.get_absolute_url }}
{% endblock %}
